.CarList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  min-width: 50%;
  padding: 10px;
  margin: 10px;

  li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    p {
      width: 100%;
    }
  }

  li:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
