.BookBox {
  background: linear-gradient(#9198e5, #e66465);
  min-width: 20%;
  max-width: 30%;
  border: antiquewhite 1px solid;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;

  ul {
    padding: 0;
  }

  h2 {
    width: 100%;
  }
}

.BookCard {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border: antiquewhite 1px solid;
  margin: 10px;

  img {
    max-height: 150px;
    height: auto;
    max-width: 100px;
    width: auto;
  }

  span {
    font-weight: bold;
  }
}
