.BookCard {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  img {
    max-height: 10px;
    height: auto;
    max-width: 10px;
    width: auto;
  }

  h3 {
    margin-bottom: 0;
  }
}
