.AnimalList {
  list-style: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;

  li {
    width: fit-content;
  }
  li:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
